<div class="content-container">
  <div class="message-container">

    <h3>Your Messages</h3>

    <div class="message">
      <ul>
        <% @offer.messages.each do |message|%>
          <% if message.id.present? %>
            <li>
              <h4><%= message.sender.email %></h4>
              <p class = "message-content"><%= message.content %></p>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="message-form">
      <%= simple_form_for [@request, @offer, @message] do |f| %>
        <div class="field">
          <%= f.input :content %>
        </div>
        <%= f.submit "Send" %>
      <% end %>
    </div>
  </div>
</div>
<div>
  <%= link_to "Confirm Swap", offers_path, class: "btn btn-success" %>
  <%= link_to '+', request_offer_confirm_path, class: "btn", method: :post  %>
</div>
