<div class="content-container">
  <div class="message-container">

    <h3>Your Messages<small id="count">(0)</small></h3>

    <div>
      <nav>
        <ul>
          <% @offer.messages.each do |message|%>
            <li>
              <% if message.id.present? %>
                <div class="message">
                  <p><%= message.sender.name %></p>
                  <p class = "message-content"><%= message.content %></p>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>

    <div class="message-form">
      <%= simple_form_for [@request, @offer, @message] do |f| %>
        <div class="field">
          <%= f.input :content, label:false %>
        </div>
        <%= f.submit "Send", class: "message-btn" %>
        <div>
          <%= link_to 'Confirm', request_offer_confirm_path, class: " btn btn-danger", method: :post  %>
          <%= link_to 'Decline', request_offer_decline_path, class: " btn btn-success", method: :post %>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <% if @offer.status == "sent" %>
      <% if current_user.status == "receiver"%>
          <%= link_to "Accept Swap", request_offer_confirmed_path %>
          <%= link_to "Keep Negotiating", request_offer_continue_path%>
        <% elsif current_user.status == "sender"  %>
        <p>Waiting for Confirmation...</p>
      <% end %>
    <% end %>
    <% if @offer.status == "confirmed" %>
        <p class="confirmation-message"> <%= link_to "Swap confirmed! Go to upcoming Swaps!", offers_path %></p>
    <% end %>
    <% if @offer.status == "continue" %>
      <% if current_user.status == "sender"%>
        <p class="confirmation-message"> Your partner does not seem satisfied. Maybe something was left unclear?</p>
      <% end %>
    <% end %>
  </div>
</div>


