<div class="content-container">
  <div class="message-container">

    <h3>Your Messages</h3>

    <div class="message">
      <ul>
        <% @messages.each do |message| %>
          <% if message.body %>
            <li>
              <h4><%= message.user.email %></h4>
              <p class = "message-content"><%= message.content %></p>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="message-form">
      <%= form_for [@message] do |f| %>
        <div class="field">
          <%= f.text_area :body, placeholder: "Your message" %>
        </div>

        <%= f.submit "Send" %>
      <% end %>
    </div>

  </div>
</div>
