<div class="card-container">
  <div class="card-profile">
    <div><%= image_tag @user.photo, class:"card-photo" %></div>
  </div>
  <div class="request-details">
    <div class="user-name"><%= @user.name %></div>
    <div class="user-location">
      <strong><%= @request.location %></strong>
    </div>
    <div class="swap-currencies">
      Swapping <strong><%= @request.request_currency %></strong> for <strong><%= @request.wanted_currency %></strong>
    </div>
    <%# <div class="swap-dates">
      <strong><%= @request.start_date.strftime('%d.%b.%Y') %></strong>  
       <%# - <strong>= @request.end_date.strftime('%d.%b.%Y')</strong> %>
    <%# </div>  %>
  </div>
  <div class="swap-amount">
    <%= @request.request_currency %> <%= @request.request_amount %>
  </div>
</div>