<%= link_to new_request_offer_path(request) do %>
  <div class="card-container" role="button" @click="handleClick()">
    <div class="card-profile">
      <% if request.user.photo.nil? %>
        <div class="card-photo"></div>
      <% else %>
        <div><%= cl_image_tag request.user.photo, class:"card-photo" %></div>
      <% end %>
    </div>
    <div class="request-details">
      <div class="user-name"><%= request.user.name %></div>
      <div class="user-location">
        <strong><%= request.location %></strong>
      </div>
      <div class="swap-currencies">
        <div>Swapping <strong><%= request.request_currency %></strong></div>
        <div>for <strong><%= request.wanted_currency %></strong></div>
      </div>
      <div class="swap-dates">
        <strong><%= request.start_date.strftime('%d. %b. %Y') %></strong>
        - <strong><%= request.end_date.strftime('%d. %b. %Y')%></strong>
      </div> 
    </div>
    <div class="swap-amount">
      <%= request.request_currency %> <%= request.request_amount %>
    </div>
  </div>
<% end %>






