<%= link_to request_offer_path(offer.request.id, offer.id) do %>


<div class="card-container" role="button" @click="handleClick()">
  <div class="card-profile">
    <% if offer.request.user.photo.nil? %>
    <div class="card-photo"></div>
    <% else %>
    <div><%= cl_image_tag offer.request.user.photo, class:"card-photo" %></div>
    <% end %>
  </div>
  <div class="request-details">

    <% if !@offers.nil? %>
     <div class="<% if offer.messages.last.read? %> user-name <% else %> user-name-unread <% end %>"><%= offer.request.user.name %></div>
    <%end%>

    <div class="user-location">
      <strong><%= offer.request.location %></strong>
    </div>
    <div class="swap-currencies">
      <div> <strong><%= offer.request.request_currency %></strong> <i class="fas fa-caret-right"></i> <strong><%= offer.request.wanted_currency %></strong></div>
    </div>
    <div class="swap-dates">
      <i class="far fa-calendar-alt"></i>
      <strong><%= offer.request.start_date.strftime('%d. %b. %Y') %></strong>
      - <strong><%= offer.request.end_date.strftime('%d. %b. %Y')%></strong>
    </div>
  </div>
  <i class="far fa-envelope chat-icon"></i>
  <div class="swap-amount">
    <%= offer.request.request_currency %> <%= offer.request.request_amount %>
  </div>
</div>
<% end %>




