<%= link_to request_offer_path(offer.request.id, offer.id) do %>


<div class="card-container" role="button" @click="handleClick()">
  <div class="card-profile">
    <% if offer.request.user.photo.nil? %>
    <div class="card-photo"></div>
    <% else %>
    <div><%= cl_image_tag offer.request.user.photo, class:"card-photo" %></div>
    <% end %>
  </div>
  <div class="request-details">


    <% if !@offers.nil? %>
     <div class="<% if offer.messages.last.read? %> user-name <% else %> user-name-unread <% end %>"><%= offer.request.user.name %></div>
    <%end%>
     <div class="<% if  offer.status == 'sent' %> offer-sent<% elsif offer.status == 'confirmed' %> offer-confirmed <% elsif offer.status == 'completed' %> offer-completed <% else %> pending <% end %>">

     </div>

    <div class="user-location">
      <%= offer.request.location %>
    </div>
    <div class="swap-currencies">
      <div> <%= convert_currency_to_emoji(offer.request.request_currency) %> <i class="fas fa-caret-right"></i> <%=convert_currency_to_emoji(offer.request.wanted_currency) %></div>
    </div>
    <div class="swap-dates">
      <i class="far fa-calendar-alt"></i>
      <%= offer.request.start_date.strftime('%d. %b. %Y') %>      - <%= offer.request.end_date.strftime('%d. %b. %Y')%>
    </div>
  </div>
  <i class="far fa-envelope chat-icon"></i>
  <div class="swap-amount">
    <%= convert_currency_to_emoji(offer.request.request_currency) %> <%= offer.request.request_amount %>
  </div>
</div>
<div>
  <%= link_to "Done", new_request_review_path(offer.request) %>
</div>
<% end %>




