<%= link_to request_offer_path(offer.request.id, offer.id) do %>


<div class="card-container" role="button" @click="handleClick()">
  <div class="card-profile">
    <% if offer.request.user.photo.nil? %>
    <div class="card-photo"></div>

    <% else %>
    <div><%= cl_image_tag offer.request.user.photo, class:"card-photo" %></div>
    <% end %>
  </div>
  <div class="request-details">
    <%if offer.messages.present? %>
     <div class="<% if offer.messages.last.read? %> user-name <% else %> user-name-unread <% end %>"><%= offer.request.user.name %></div>
    <% end %>

    <% if  %>

    <% end %>
   <% if offer.status == 'completed' %>
     <div class="offer-rating">
       <% stars = offer.request.reviews.last.rating || 0 %>
       <% stars.times do  %>
         <i class="fas fa-star" style="color:#EAE01C;"></i>
       <% end %>
       <% (5 - stars).times do  %>
         <i class="fas fa-star" style="color:#45454542;"></i>
       <% end %>
     </div>
   <% end %>


     <div class="<% if  offer.status == 'sent' %> offer-sent<% elsif offer.status == 'confirmed' %> offer-confirmed <% elsif offer.status == 'completed' %> offer-completed <% else %> pending <% end %>">
      <%= offer.status == 'completed' ? "" : offer.status %>
     </div>


    <div class="user-location">
      <%= offer.request.location %>
    </div>
    <div class="swap-currencies">
      <div><%=offer.request.request_currency%> <i class="fas fa-caret-right"></i><%=offer.request.wanted_currency%></div>
    </div>

    <% if offer.status == "confirmed"  %>
      <%= link_to "Review", new_request_review_path(offer.request), class: "btnn-blue complete-button" %>
    <% end %>
  </div>

</div>
<div>
</div>
<% end %>




