<div class="wrapper">
  <div class = "container">
    <div class="filters">
      <div class="form">
           <br>
          <%= form_tag requests_path, method: :get do %>
          <p class="white-color">Filter by Location:</p>
          <%= text_field_tag :location,
          params[:location],
          class: "form-control",
            label: "Location",
            placeholder: "Location" %>

            <br>

            <p class="white-color">Filter by Dates:</p>
            <%= date_field_tag(
                    :start_date, "",
                     as: :string,
                    class: "datepicker",
                    label: "Start Date",
                    placeholder: "From") %>
              <br>
              <p class="white-color">End Date:</p>
              <%= date_field_tag(
                     :end_date, "",
                      as: :string,
                      class: "datepicker",
                      label: "End Date",
                      placeholder: "To") %>
                <br>

                <div class="button">
                  <%= submit_tag "Apply Filters", class: "btn btn-primary" %>
                </div>
              <% end %>
              </div>

            </div>
          </div>
        </div>




        <nav>
          <ul style="overflow-y:scroll">
            <% @requests.each do |request| %>
              <%= render 'shared/card', request: request  %>
            <% end %>
          </ul>
        </nav>


    </div>
    <div class="row">
          <h2 class="text-center">Your matches:</h2>
          <%@requests.each do |request|%>
      <div class="col-xs-10">
        <div class="card-content">
          <%= link_to new_request_offer_path(request) do %>
            <div class="flex-container">
              <div class="flex item">
                  <div class="card-avatar"><h3>AVATAR</h3>
                </div>
              <div class="user-name-avatar">
                <p>Pink Panther</p>
              </div>

            </div>
              <div class="flex item">
                <p class="card-request_currency">
                    <%= request.request_currency %>
                  </p>
                <p class="card-request_amount">
                    <%=request.request_amount%>
                  </p>
                <p class="card-wanted_currency">
                    <%=request.wanted_currency%>
                  </p>
                <p class="card-wanted_amount">
                    <%=request.wanted_amount%>
                  </p>
                <p class="card-location">
                    <%=request.location%>
                  </p>
                <p class="card-start_date">
                    <%=request.start_date%>
                  </p>
                <p class="card-end_date">
                    <%=request.end_date%>
                  </p>
              </div>

                <div class="flex-item">
                  <div class="status-msg-button">
                    <p>pending</p>
                    <i class="fas fa-envelope"></i>
                  </div>
                </div>
          </div>
              <% end %>
                <br>
        </div>
      </div>
    <%end%>
  </div>

  </div>
</div>


