<div class="wrapper">
  <div class = "container">
    <div class="filters">
      <div class="form">

          <%= form_tag requests_path, method: :get do %>

          <p class="white-color">Filter by Location:</p>
          <%= text_field_tag :location,
          params[:location],
          class: "form-control",
            label: "Location",
            placeholder: "Location" %>

            <br>

          </div>
          <div class="col-sm-6">

            <p class="white-color">Start Date:</p>
            <%= date_field_tag :start_date,
            params[:start_date],
            class: "form-control",
              label: "Start Date",
              placeholder: "From" %>
              <br>
              <p class="white-color">End Date:</p>
              <%= date_field_tag :end_date,
              params[:end_date],
              class: "form-control",
                label: "End Date",
                placeholder: "To" %>
                <% @end_date = params[:end_date] %>

                <br>

                <div class="sf-button">
                  <%= submit_tag "Search Board", class: "btn btn-primary" %>
                </div>
              </div>
              <% end %>

            </div>
          </div>

        </div>

















<%# create a route /index/search %>
<%# implement link in form   %>
<%# search method in controller %>
<%#  %>






      </div>
    </div>
    <div class="row">
          <h2 class="text-center">Your matches:</h2>
          <%@requests.each do |request|%>
      <div class="col-xs-10">
        <div class="card-content">
          <%= link_to request_path(request) do %>
            <div class="flex-container">
              <div class="flex item">
                  <div class="card-avatar"><h3>AVATAR</h3>
                </div>
              <div class="user-name-avatar">
                <p>Pink Panther</p>
              </div>

            </div>
              <div class="flex item">
                <p class="card-request_currency">
                    <%= request.request_currency %>
                  </p>
                <p class="card-request_amount">
                    <%=request.request_amount%>
                  </p>
                <p class="card-wanted_currency">
                    <%=request.wanted_currency%>
                  </p>
                <p class="card-wanted_amount">
                    <%=request.wanted_amount%>
                  </p>
                <p class="card-location">
                    <%=request.location%>
                  </p>
                <p class="card-start_date">
                    <%=request.start_date%>
                  </p>
                <p class="card-end_date">
                    <%=request.end_date%>
                  </p>
              </div>

                <div class="flex-item">
                  <div class="status-msg-button">
                    <p>pending</p>
                    <i class="fas fa-envelope"></i>
                  </div>
                </div>
          </div>
              <% end %>
                <br>
        </div>
      </div>
    <%end%>
  </div>

  </div>
</div>





<!--

<div class="col-xs-10  ">
<div class="col-xs-4 col-xs-offset-4 ">

<div class="flex item">...</div>

implement link to chat path(chat)


Make entire card link out to chat (clickable)
    vs
message button clickable and card just text + img?

––>




