<div class="wrapper">
  <div class = "container">
    <div class="filters">
      <div class="form">
           <br>
          <%= form_tag requests_path, method: :get do %>
          <p class="white-color">Filter by Location:</p>
          <%= text_field_tag :request,
          params[:request],
          class: "form-control",
            label: "Location",
            placeholder: "Location" %>
          <%#= f.text_field :location, placeholder: "Location", class:"form-control search-stretch input-field" %>


            <br>

            <p class="white-color">Filter by Dates:</p>
            <%= date_field_tag(
                    :date_start, "",
                     as: :string,
                    class: "datepicker",
                    label: "Start Date",
                    placeholder: "From") %>
              <br>
              <p class="white-color">End Date:</p>
              <%= date_field_tag(
                     :date_end, "",
                      as: :string,
                      class: "datepicker",
                      label: "End Date",
                      placeholder: "To") %>
                <br>

                <div class="button">
                  <%= submit_tag "Apply Filters", class: "btn btn-success" %>
                </div>
              <% end %>
              </div>

            </div>
          </div>
        </div>
      
        <nav>
          <ol style="overflow-y:scroll">
            <% @requests.each do |request| %>
              <%= render 'shared/card', request: request  %>
            <% end %>
          </ol>
        </nav>

      </div>
    </div>
  </div>
</div>


