<div class="container">

  <div class = "Box">
  <div class="row">
          <h2 class="text-center">Your matches:</h2>
    <%@requests.each do |request|%>
      <div class="col-xs-4 col-xs-offset-4 ">
        <div class="card-outline">
          <div class="card-content card-image">
          </div>
          <%= link_to request_path(request) do %>
          <div class = "card-content card-body">
            <p class="card-text"><%= request.request_currency %></p>
            <p class="card-text"><%=request.request_amount%></p>
            <p class="card-text"><%=request.wanted_currency%></p>
            <p class="card-text"><%=request.wanted_amount%></p>
            <p class="card-text"><%=request.location%></p>
            <p class="card-text"><%=request.start_date%></p>
            <p class="card-text"><%=request.end_date%></p>
            <br>
          </div>
          <% end %>
        </div>
      </div>
    <%end%>
  </div>


  </div>
</div>
