<% require "open-uri" %>
<% require "json" %>

<% url = ("https://openexchangerates.org/api/currencies.json") %>
<% currencies = JSON.parse(open(url).read) %>
<% cur_array = [] %>
<% currencies.each do |key, value|%>
<%  cur_array << [key] %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-4 col-lg-offset-4">
      <div class="form-card">
        <h4> Swap Details </h4>

                   <div class="form">
            <%= simple_form_for @request do |f|  %>
              <%= f.label "Offered Currency :" %>
              <%= f.select :request_currency, cur_array %>
              <%= f.label "Offered Amount:" %>
              <%= f.input :request_amount, label: false %>
              <%= f.label "Wanted Currency:" %>
              <%= f.select :wanted_currency, cur_array %>
              <%= f.input :location %>
              <%= f.label "From" %>
              <%= f.date_field :start_date, as: :string, required: false, class: "datepicker" %> <br>
              <%= f.label "Until" %>
              <%= f.date_field :end_date, as: :string, required: false, class: "datepicker" %> <br>
              <%= f.submit "Swap my dosh", class: "btn btn-success" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>








