<% require "open-uri" %>
<% require "json" %>

<% url = ("https://openexchangerates.org/api/currencies.json") %>
<% currencies = JSON.parse(open(url).read) %>
<% cur_array = [] %>
<% currencies.each do |key, value|%>
<%  cur_array << [key] %>
<% end %>

<div class="wrapper">
  <div class="row">
    <div class="col-xs-12 col-lg-4 col-lg-offset-4">

  <div class="form" id="currency-form">
        <%= simple_form_for @request, url: {action: "create"} do |f|  %>
      <section id="input-currency">
        <div class="container-form">
          <div class="form-input">
        <h2> What are you swapping? </h2>
        <div class="form-control gray-background">

        <%= f.select :request_currency, options_for_select(cur_array.each { |x| x }) %>
        </div>
          </div>
        <div class="flex-buttons" id="next-button">
          <div class="btn btn-success btn-form-next next">NEXT
          </div>
        </div>
        </div>
      </section>

       <section id="quantity-currency" class="deactivated">
        <div class="container-form">
            <div class="form-input">
        <p> How much of your currency do you want to swap? </p>
        <%= f.text_field :request_amount, placeholder: "Amount", class:"form-control search-stretch input-field gray-background" %>
        <%#= f.input :request_amount %>
            </div>
        <div class="flex-buttons">
          <div class="btn btn-primary btn-form-next previous">BACK
          </div>
          <div class="btn btn-success btn-form-next next">NEXT
          </div>
        </div>

        </div>
      </section>

       <section id="wanted-currency" class="deactivated">
        <div class="container-form">
          <div class="form-input">
        <p> Which currency are you looking for? </p>
                <div class="form-control gray-background">
        <%= f.select :wanted_currency, options_for_select(cur_array.each { |x| x }), class:"form-control gray-background" %>
                </div>
            </div>
         <div class="flex-buttons">
          <div class="btn btn-primary btn-form-next previous">BACK
          </div>
          <div class="btn btn-success btn-form-next next">NEXT
          </div>
        </div>
        </div>
      </section>

       <section id="location" class="deactivated">
        <div class="container-form">
            <div class="form-input">
        <p> Where do you want to swap?</p>
        <%= f.text_field :location, placeholder: "Location", class:"form-control search-stretch input-field gray-background" %>
        <%#= f.input :location %>
            </div>
        <div class="flex-buttons">
          <div class="btn btn-primary btn-form-next previous">BACK
          </div>
          <div class="btn btn-success btn-form-next next">NEXT
          </div>
        </div>
        </div>
      </section>

  <section id="time" class="deactivated">
    <div class="container-form">
        <div class="form-input">
           <p> When do you want to swap?</p>
            <div class="row">
              <div class="col-xs-6">
                <%= f.date_field :start_date, as: :string, required: false, class: "datepicker form-control gray-background" %>
              </div>

              <div class="col-xs-6">
                <%= f.date_field :end_date, required: false, class: "datepicker form-control gray-background" %>
              </div>
            </div>
          </div>

      <div class="flex-buttons">
        <div class="btn btn-primary btn-form-next previous">BACK
        </div>
        <%= f.submit "NEXT", class: "btn btn-success btn-form-next next" %>
      </div>
  </div>
</section>
      <% end %>
    </div>



    </div>
  </div>




<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
        <script>
            var autocomplete;
            function initialize() {
              autocomplete = new google.maps.places.Autocomplete(
                  /** @type {HTMLInputElement} */(document.getElementById('request_location')),
                  { types: ['geocode'] });
              google.maps.event.addListener(autocomplete, 'place_changed', function() {
              });
            }
        </script>
        <body onload="initialize()">
      </body>
