<% require "open-uri" %>
<% require "json" %>

<% url = ("https://openexchangerates.org/api/currencies.json") %>
<% currencies = JSON.parse(open(url).read) %>
<% cur_array = [] %>
<% currencies.each do |key, value|%>
<%  cur_array << [key] %>
<% end %>

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-lg-4 col-lg-offset-4">
      <h2> What are you swapping?</h2>










<div class="form" id="currency-form">
    <%= simple_form_for @request do |f| %>
      <section id="input-currency">
        <div class="container">
        <%= f.label "input-currency" %>
        <p> Which currency do you have to offer? </p>
        <%= f.select :request_currency, cur_array %>
        <div class="btn btn-success next">NEXT
        </div>
        </div>
      </section>

       <section id="quantity-currency" class="deactivated">
        <div class="container">
        <%= f.label "quantity-currency" %>
        <p> How much of your currency do you want to swap? </p>
        <%= f.input :request_amount %>
        <div class="btn btn-success next">NEXT
        </div>
        <div class="btn btn-success previous">PREVIOUS
        </div>
        </div>
      </section>

       <section id="wanted-currency" class="deactivated">
        <div class="container">
        <%= f.label "wanted-currency" %>
        <p> Which currency are you looking for? </p>
        <%= f.select :wanted_currency, cur_array %>
        <div class="btn btn-success next">NEXT
        </div>
        <div class="btn btn-success previous">PREVIOUS
        </div>
        </div>
      </section>

       <section id="location" class="deactivated">
        <div class="container">
        <%= f.label "input-location" %>
        <p> Where do you want to swap?</p>
        <%= f.input :location %>
        <div class="btn btn-success next">NEXT
        </div>
        <div class="btn btn-success previous">PREVIOUS
        </div>
        </div>
      </section>

       <section id="time" class="deactivated">
        <div class="container">
        <p> When do you want to swap?</p>
        <%= f.date_field :start_date, as: :string, required: false, class: "datepicker" %>

        <p> When do you want to swap?</p>
        <%= f.date_field :end_date, required: false, class: "datepicker form-control" %>
        <%= f.submit "Swap my dosh", class: "btn btn-success" %>
        <div class="btn btn-success previous">PREVIOUS
        </div>
        </div>
      </section>
      <% end %>
    </div>








    </div>
  </div>
</div>


<%= javascript_pack_tag 'conversion' %>




<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
        <script>
            var autocomplete;
            function initialize() {
              autocomplete = new google.maps.places.Autocomplete(
                  /** @type {HTMLInputElement} */(document.getElementById('request_location')),
                  { types: ['geocode'] });
              google.maps.event.addListener(autocomplete, 'place_changed', function() {
              });
            }
        </script>
        <body onload="initialize()">
      </body>
