<% require "open-uri" %>
<% require "json" %>




<% url = ("https://openexchangerates.org/api/currencies.json") %>
<% currencies = JSON.parse(open(url).read) %>
<% cur_array = [] %>
<% currencies.each do |key, value|%>
<%  cur_array << [key] %>
<% end %>

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-lg-4 col-lg-offset-4">
      <h2> What are you swapping ? Conversion still missing</h2>
      <div class="form">
          <%= simple_form_for @request do |f|  %>
            <p> Which currency do you have to offer ? </p>
            <%= f.select :request_currency, cur_array %>
            <p> How much do you have to offer ?</p>
            <%= f.input :request_amount %>
            <p> Which currency are you looking for ? </p>
            <%= f.select :wanted_currency, cur_array %>
            <br>
            <%= f.submit "Swap my dosh" %>
          <% end %>
        </div>
    </div>
  </div>
</div>


<%= javascript_pack_tag 'conversion' %>
