<% require "open-uri" %>
<% require "json" %>

<% url = ("https://openexchangerates.org/api/currencies.json") %>
<% currencies = JSON.parse(open(url).read) %>
<% cur_array = [] %>
<% currencies.each do |key, value|%>
<%  cur_array << [key] %>
<% end %>

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-lg-4 col-lg-offset-4">
      <h2> What are you swapping?</h2>

                 <div class="form">
          <%= simple_form_for @request do |f|  %>
            <p> Which currency do you have to offer? </p>
            <%= f.select :request_currency, cur_array %>
            <p> How much do you have to offer?</p>
            <%= f.input :request_amount %>
            <p> Which currency are you looking for? </p>
            <%= f.select :wanted_currency, cur_array %>
            <p> Where do you want to swap? </p>
            <%= f.input :location %>
            <p> When do you want to swap?</p>

            <%= f.label "Dates" %>
            <div class="row">
              <div class="col-xs-6">
                <%= f.date_field :start_date, as: :string, required: false, class: "datepicker" %>
              </div>
              <div class="col-xs-6">
                <%= f.date_field :end_date, required: false, class: "datepicker form-control" %>
              </div>
            </div>

            <%= f.submit "Swap my dosh", class: "btn btn-success" %>
          <% end %>
        </div>

    </div>
  </div>
</div>


<%= javascript_pack_tag 'conversion' %>




<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
        <script>
            var autocomplete;
            function initialize() {
              autocomplete = new google.maps.places.Autocomplete(
                  /** @type {HTMLInputElement} */(document.getElementById('request_location')),
                  { types: ['geocode'] });
              google.maps.event.addListener(autocomplete, 'place_changed', function() {
              });
            }
        </script>
        <body onload="initialize()">
      </body>
