<div class="container">
  <div class="profile-container">

    <div class="image-container">
      <div class="user-photo"><%= cl_image_tag @request.user.photo %></div>
    </div>

    <div class="info-container">
      <h4 id="swapper"><strong><%= @request.user.name  %></strong></h4>
      <p><em><%= @request.user.description  %></em></p>
      <p><strong><%= @request.location  %></strong></p> 
      <p><strong><%= @request.start_date.strftime("%d %b %Y") %></strong> - <strong><%= @request.end_date.strftime("%d %b %Y") %></strong></p>
      <p><strong><%= @request.request_currency %> <%= @request.request_amount %></strong> for <strong><%= @request.wanted_currency %></strong></p>
      <div class="buttons">
        <div class="back-button">
          <%#= link_to "Back", requests_path, class: "btn btn-primary" %>
          <%= link_to 'Back', :back, class: "btn btn-success"  %>
        </div>
        <div class="submit-button">
          <%= simple_form_for [@request, @offer] do |f| %>
            <%=  f.submit 'Chat', class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>



    <div class="reviews-container"> 
      <h2 id="swapper"> Reviews</h2>
          <div class="user-details">
            <%@request.reviews.each do |review| %>
              <% review.rating.times do %>
                <i class="fas fa-star" style="color:#EAE01C;"></i>
              <% end %></p>
              <p> <%= review.content %> </p>
            <% end %>
        </div>
    </div>

  </div>
</div>