<div class="container">
  <div class="profile-container">

    <div class="image-container">
      <div class="user-photo-profile"><%= cl_image_tag @request.user.photo %></div>
    </div>

    <div class="info-container">
      <h4 id="swapper">
         <div class="user-name-profile"><%= @request.user.name %></div>
      </h4>
      <div class="user-description-profile"><em><%= @request.user.description  %></em></div>
      <div class="user-location-profile"><strong><%= @request.location %></strong> </div>

      <div class="swap-dates-profile">
          <i class="far fa-calendar-alt"></i>
          <%= @request.start_date.strftime("%d %b %Y")%> -
          <%= @request.end_date.strftime("%d %b %Y")%>
      </div>

      <div class="swap-currencies-profile">
          <div><%= @request.request_currency %> <%= @request.request_amount%><i class="fas fa-caret-right"></i> <%=@request.wanted_currency %></div>
      </div>

      <div class="swap-amount-profile">
        <%= @request.request_currency %> <%= @request.request_amount %>
      </div>



      <div class="buttons">
        <div class="back-button">
          <%#= link_to "Back", requests_path, class: "btn btn-primary" %>
          <%= link_to 'BACK', :back, class: "btn btn-primary"  %>
        </div>
          <%= simple_form_for [@request, @offer] do |f| %>
            <%=  f.submit 'CHAT', class: "btn btn-success" %>
          <% end %>
      </div>
    </div>


  </div>



    <div class="reviews-container">
      <h2 id="swapper"> Reviews</h2>
          <div class="user-details">
            <%@request.reviews.each do |review| %>
              <% review.rating.times do %>
                <i class="fas fa-star" style="color:#EAE01C;"></i>
              <% end %></p>
              <p> <%= review.content %> </p>
            <% end %>
        </div>
    </div>

  </div>
</div>
