<div class="container">
  <div class="profile-container">

    <div class="image-container">
      <div class="user-photo"><%= cl_image_tag @request.user.photo %></div>
    </div>

    <div class="info-container">
      <h4 id="swapper"><strong><%= @request.user.name  %></strong></h4>
      <p><em><%= @request.user.description  %></em></p>
      <p><strong><%= @request.location  %></strong></p>
      <p><strong><%= @request.start_date.strftime("%d %b %Y") %></strong> - <strong><%= @request.end_date.strftime("%d %b %Y") %></strong></p>
      <p><strong><%= @request.request_currency %> <%= @request.request_amount %></strong> for <strong><%= @request.wanted_currency %></strong></p>
      <div class="buttons">
        <div class="back-button">
          <%#= link_to "Back", requests_path, class: "btn btn-primary" %>
          <%= link_to 'BACK', :back, class: "btn btn-primary"  %>
        </div>
          <%= simple_form_for [@request, @offer] do |f| %>
            <%=  f.submit 'CHAT', class: "btn btn-success" %>
          <% end %>
      </div>
    </div>



    <div class="reviews-container">
      <h2 id="swapper"> Reviews</h2>
          <div class="reviews">
            <%@request.reviews.each do |review| %>
              <div class="scrolling-wrapper">
                <div class="review_card">
                  <%= render 'shared/review_card', review: review  %>
                </div>
              <div>
            <% end %>
        </div>
    </div>

  </div>
</div>
