<div class="container">
  <div class="profile-container">





    <div class="info-container">
      <div class="user-info-profile">


          <div class="back-angle">
            <%#= link_to "Back", requests_path, class: "btn btn-primary" %>

            <div class="back-arrow">
            <%= link_to "", :back, class: "fas fa-arrow-alt-circle-left"%>
            </div>
          </div>


        <!-- <h4 id="swapper"> -->

          <div class="user-photo-profile"><%= cl_image_tag @request.user.photo %></div>
          <div class="user-name-profile"><%= @request.user.name %></div>
          <!-- </h4> -->
          <div class="user-description-profile"><em><%= @request.user.description  %></em></div>
          <div class="user-location-profile"><strong><%= @request.location %></strong> </div>

          <div class="swap-dates-profile">
            <i class="far fa-calendar-alt"></i>
            <%= @request.start_date.strftime("%d %b %Y")%> -
            <%= @request.end_date.strftime("%d %b %Y")%>
          </div>

         <!--  <div class="swap-currencies-profile">
            <div><%= convert_currency_to_emoji(@request.request_currency) %> <%=@request.request_currency%> <i class="fas fa-caret-right"></i> <%= convert_currency_to_emoji(@request.wanted_currency) %> <%=@request.wanted_currency%></div>
          </div> -->

          <div class="swap-amount-profile">
            <%#= convert_currency_to_emoji(@request.request_currency) %> <%=@request.request_currency%> <%= @request.request_amount %>
          </div>

      </div>



        <div class="buttons-profile">

          <%= simple_form_for [@request, @offer] do |f| %>
          <%=  f.submit 'LET\'S SWAP', class: "btn btn-success" %>
          <% end %>


      </div>


    </div>



    <div class="reviews-container">
      <h2 id="swapper"> Reviews</h2>
        <div class="reviews">
            <ul class="scrolling-wrapper">
              <%@request.reviews.each do |review| %>
                <div class="review-container">
                  <li>
                  <%= render 'shared/review_card', review: review  %>
                  </li>
                </div>
              <% end %>
            </ul>
        </div>
    </div>
  </div>
</div>
