<div class="container">
  <div class="row">
    <div class="column-xs-12">
      <div class="chat-container">
        <div class="chat-header"><h4><%= @offer.user == current_user ? @offer.request.user.name : @offer.user.name %></h4>
            <div>
              <div class="acceptance-question" style="<%= @offer.status == "sent" ? 'visibility:visible;' : 'visibility:hidden;'%>">
                <% if @offer.status == "sent" %>
                  <% if current_user.status == "receiver"%>
                      <%= link_to "Accept Swap", request_offer_confirmed_path(@offer.request_id, @offer.id), id: "accept", class: "confirmation-message confirm-button" %>
                      <%= link_to "Keep Negotiating", request_offer_continue_path(@offer.request_id, @offer.id), id: "negotiate", class: "confirmation-message decline-button"%>
                  <% elsif current_user.status == "sender"  %>
                    <p class="confirmation-message">Waiting for Confirmation...</p>
                  <% end %>
                <% end %>
              </div>
              <div class="acceptance-feedback" style="<%= @offer.status == "confirmed" || @offer.status == "continue" ? 'visibility:visible;' : 'visibility:hidden;'%>">
                <% if @offer.status == "confirmed" %>
                    <p class="confirmation-message"> <%= link_to "Swap confirmed! See your upcoming Swaps!", offers_path %>
                    </p>
                <% end %>
                <% if @offer.status == "continue" %>
                  <% if current_user.status == "sender"%>
                    <p class="confirmation-message"> Your partner does not seem satisfied. Maybe something was left unclear?</p>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <div class="messages">
          <% @offer.messages.each do |message| %>
          <%= render "messages/message", message: message, user: current_user, user_is_messages_author: message.sender == current_user %>
          <% end %>
        </div>
        <div id="create-message">
          <%= simple_form_for [ @offer.request, @offer, Message.new ], remote: true do |f| %>
          <%= f.text_area :content,placeholder: "...", id: "input-content" %>
          <br>
            <div class="chat-buttons">
              <%= link_to 'Back', :back, class: "btnn btn-success"  %>
              <%= link_to 'Confirm', request_offer_confirm_path(@offer.request_id, @offer.id), class: "confirm-button", id: "confirm", method: :post  %>
              <%= link_to 'Decline', request_offer_decline_path(@offer.request_id, @offer.id), class: "decline-button",id: "decline", method: :post %>
              <%= f.submit '>>', :class => 'submit-button', id: "send" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>

    scrollLastMessageIntoView();
    App["offer_<%= @offer.id %>"] = App.cable.subscriptions.create(
      { channel: 'OffersChannel', offer_id: <%= @offer.id %> }, {
        received: (data) => {
          if (data.current_user_id !== <%= current_user.id %>) {
            let messagesContainer = document.querySelector('.messages');
            messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
            scrollLastMessageIntoView()}
          }
        }
    )
  </script>
<% end %>



