
  <div class="row">
    <div class="column-xs-12">
      <div class="chat-container">
        <div class="chat-header">
          <div><%= link_to '', :back, class: "fas fa-long-arrow-alt-left", style: "color:black;"  %></div>
          <div class="flex-header">
          <h4><%= @offer.user == current_user ? @offer.request.user.name : @offer.user.name %></h4>
          <div class="chat-buttons">
            <%= link_to "Decline Swap", request_offer_decline_path(@offer.request_id, @offer.id), method: :post, class: "btnn-blue "%>
            <%= link_to "Confirm Swap", request_offer_confirm_path(@offer.request_id, @offer.id), method: :post, class: "btnn-green" %>
          </div>
          </div>
          <div class="swap-information">
            <div class="swapping-currencies">
              <%= @offer.request.request_currency %>
              <%= @offer.request.request_amount %> <i class="fas fa-caret-right"></i>
              <%= @offer.request.wanted_currency %>
            </div><br>

            <div class="swapping-dates">
              <i class="far fa-calendar-alt"></i>
              <%= @offer.request.start_date %>
            </div> -
            <div class="swapping-dates2">
              <%= @offer.request.end_date %>
            </div>
          </div>
        </div>
        <div class="messages">
          <% @offer.messages.each do |message| %>
          <%= render "messages/message", message: message, user: current_user, user_is_messages_author: message.sender == current_user %>
          <% end %>
        </div>
        <div id="create-message">
            <div class="acceptance">
              <div class="acceptance-question" style="<%= @offer.status == "sent" ? 'visibility:visible;' : 'visibility:hidden;'%>">
                <% if @offer.status == "sent" %>
                  <% if current_user.status == "receiver"%>
                      <%= link_to "Accept Swap", request_offer_confirmed_path(@offer.request_id, @offer.id), id: "accept", class: "confirmation-message confirm-button header" %>
                      <%= link_to "Keep Negotiating", request_offer_continue_path(@offer.request_id, @offer.id), id: "negotiate", class: "confirmation-message decline-button header"%>
                  <% elsif current_user.status == "sender"  %>
                    <p class="confirmation-message">Waiting for Confirmation
                    </p>
                    <div class="spinner">
                      <div class="bounce1"></div>
                      <div class="bounce2"></div>
                      <div class="bounce3"></div>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="acceptance-feedback" style="<%= @offer.status == "confirmed" || @offer.status == "continue" ? 'visibility:visible;' : 'visibility:hidden;'%>">
                <% if @offer.status == "confirmed" %>
                    <p class="confirmation-message confirm-button header"> <%= link_to "Swap confirmed! See your upcoming Swaps!", offers_path %>
                    </p>
                <% end %>
                <% if @offer.status == "continue" %>
                  <% if current_user.status == "sender"%>
                    <p class="confirmation-message"> Your partner does not seem satisfied. Maybe something was left unclear?</p>
                  <% end %>
                <% end %>
              </div>
            </div>
            <br>
          <%= simple_form_for [ @offer.request, @offer, Message.new ], remote: true do |f| %>
          <div class="flex-chat">
          <%= f.text_area :content, id: "input-content" %>
              <%= f.submit 'SEND', :class => 'submit-button btn btn-success', id: "send" %>
          </div>
          <br>

            <% end %>
          </div>
     </div>
    </div>







<% content_for :after_js do %>
  <script>

    function scrollLastMessageIntoView() {
    const messages = document.querySelectorAll('.message');
    const lastMessage = messages[messages.length - 1];
    if (lastMessage) {
    lastMessage.scrollIntoView();
    }
}

    scrollLastMessageIntoView();
    App["offer_<%= @offer.id %>"] = App.cable.subscriptions.create(
      { channel: 'OffersChannel', offer_id: <%= @offer.id %> }, {
        received: (data) => {
          if (data.current_user_id !== <%= current_user.id %>) {
            let messagesContainer = document.querySelector('.messages');
            messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
            scrollLastMessageIntoView()}
          }
        }
    )

  </script>
<% end %>



